/* Inserta tu codigo aqui */
nav {
	margin: 2% 25%;
}
header h1 {
	text-align: center;
	margin-top: 2%;
} 
header li {
	display: table-cell;
	padding-right: 35%;
	 }
header a {
	text-decoration: none;
	color: #717171;
}
section {
	background-color: #E3E6E6;
	padding: 3% 0%;
}
section .row {
    margin-top: 5%;
    font-size: 15px;
}
section img {
    width: 226px;
    height: 200px;
}
section .col-9 {
	background-color: #D6D7D9;
	height: 200px;
	padding: 3%;
}
section button {
	background-color: #26376B;
	padding: 10px 50px;
	border: none;
	border-radius: 5px;
	color: #E4E4E4;
	font-size: 12px;
}
section h2 {
	text-align: center;
	margin-bottom: 2%;
	font-size: 20px;
}






footer {
	background-image: url(../img/shoes_!.jpg);
	background-repeat: no-repeat;
	background-position: right 2%;
	padding-top: 4%;
}
input {
	display: block;
    padding-top: 2%;  
    padding-bottom: 2%;
    padding-right: 75%;
	margin-bottom: 2%;
}
.mensaje {
	padding-bottom: 20%;
}
footer h2 {
	margin-bottom: 5%;
}
footer button {
	text-align: center;
	color: #E4E4E4;
	font-size: 18px;
	width: 100%;
	padding: 3% 0%;
	background-color: #24366B;
    border: none;
	border-radius: 3px;
	margin-bottom: 18%;
}
footer p {
	background-color: #24366B;
	color: #E4E4E4;
	padding: 2% 2%;
}
